@keyframes kf_rotation{
  from{
    transform: rotate(-15deg);
  }

  to{
    transform: rotate(345deg);
  }
}

.rotation{
  animation-name: kf_rotation;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
