.feinman{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: #f2f2f2;
  padding-top: 100px;
  height: 790px;
}

.feinman__title{
  width: 648px;
  margin-bottom: 70px;
  text-align: center;
  z-index: 2;
}

.feinman__title-text{
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
}

.feinman__subtle{
  z-index: 2;
}


.feinman__subtle-text{
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feinman__link{
  position: absolute;
  top: 50%;
  right: 48px;
}

.feinman__link-text{
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: black;
  text-decoration: none;
}

.feinman__illustration{
  position: absolute;
  bottom: 0;
  left: 0;

  width: 867px;
  height: 637px;
  background-image: url('../images/feynman.png');
  background-size: cover;
  z-index: 1;
}
