.footer{
  display: flex;
  justify-content: center;
  min-height: 350px;
  padding-top: 60px;
  padding-bottom: 40px;
  background-color: #1f1f1f;
}

.footer__columns{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
}

.footer__column_content_copyright{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 711px;
}

.footer__author{
  margin-top: 18px;
  margin-bottom: 18px;

}
.footer__author-text{
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  color: white;
}
.footer__column_content_info{
  display: flex;
  flex-direction: column;
}

.footer__column-heading{
  margin-bottom: 20px;
}

.footer__column-heading-text{
  line-height: 30px;
  font-size: 18px;
  color: white;
  font-weight: bold;
}

.footer__column-links{
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.footer__column-link{
  line-height: 30px;
  font-size: 18px;
  color: white;
  font-weight: normal;
  text-decoration: none;
}

.footer__column_content_social{
  display: flex;
  flex-direction: column;
}

.footer__social-icon{
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.footer__social-icon-type-fb{
  background-image: url('../images/facebook_color_white.svg');
  background-size: cover;
}
.footer__social-icon-type-vk{
  background-image: url('../images/vk_color_white.svg');
  background-size: cover;
}

.footer__social-icon-type-insta{
  background-image: url('../images/instagram_color_white.svg');
  background-size: cover;
}
