.two-columns{
  display: flex;
  width: 80%;

  flex-direction: row;
  justify-content: space-between;
  align-content: flex-start;
}


.two-columns__brief{
  width: 175px;
}

.two-columns__brief-text{
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
}

.two-columns__main-text{
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph{
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__paragraph:not(:last-child){
  padding-bottom: 30px;
}

.two-columns__paragraph_bold{
  font-weight: bold;
}
